#root {
  text-align: center;
}

@media (max-width: 1536px) {
  #root {
    margin: 40px 248px 0 248px;
  }
}

@media (min-width: 1537px) and (max-width: 1648px) {
  #root {
    margin: 40px 280px 0 280px;
  }
}

@media (min-width: 1649px) {
  #root {
    margin: 40px 430px 0 430px;
  }
}

.hide-scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.hide-scroll {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}
