#root {
  text-align: center;
  background-color: #f8f9fa;
}

@media (max-width: 1536px) {
  #root {
    padding: 0px 200px;
  }
}

@media (min-width: 1537px) and (max-width: 1648px) {
  #root {
    padding: 0px 280px 0 280px;
  }
}

@media (min-width: 1649px) {
  #root {
    padding: 0px 430px 0 430px;
  }
}

.hide-scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.hide-scroll {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}
